/* Mobile First стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    color: #000000;
}

/* Шапка */
header {
    background-color: #192b51;
    padding: 1rem;
    width: 100%;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo img {
    width: 50px;
    height: 50px;
}

.site-title h1 {
    text-align: center;
    color:#FFFFFF;
    font-family: 'Trebuchet MS', sans-serif;
}

/* Навигация */
nav.main-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav.main-menu a {
    text-decoration: none;
    padding: 10px;
    background-color: #8090a8;
    margin-bottom: 4px;
    border-radius: 8px;
    text-align: center;
    color: #000000;
}


/* Основной контент */
.content {
    padding: 2rem;
    width: 100%;
}


/* Список ссылок */
ul {
 
    margin: 10px 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
}



/* Таблица */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

td, th {
    border: 1px solid #313131;
    padding: 12px;
    text-align: left;
}

tr:first-child th {
    background-color: #72251f ;
}

tr:nth-child(odd) {
    background-color: #e0d1ca;
}

tr:nth-child(even) {
    background-color: #ece4e5;
}

/* Форма */
form {
    margin: 10px 0;
}
label {
    display: block;
    margin-bottom: 2px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #2e1819;
    border-radius: 10px;
}

input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #192b51;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: auto;
}



/* Футер */
footer {
    background-color: #72251f;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    margin-top: 40px;
}

.footer-container {
    padding: 0 20px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Стили для планшетов (768px и выше) */
@media (min-width: 768px) {
    .header-container {
        flex-direction: row;
        justify-content: space-between;
        max-width: 960px;
        margin: 0 auto;
    }
    
    .site-title h1 {
        text-align: left;
    }
    
    nav.main-menu {
        flex-direction: row;
        width: auto;
        gap: 15px;
    }
    
    nav.main-menu a {
        margin-bottom: 0;
    }
    
    .content {
        max-width: 960px;
        margin: 0 auto;
    }
    
    
    #table, #links, #form {
        order: 0;
    }
    
    #table {
        width: 100%;
    }
    
    #links, #form {
        width: 50%;
    }
    
    #links {
        margin-right: 5%;
    }
    
    .footer-container {
        max-width: 960px;
        margin: 0 auto;
    }
}
