header{
    background-color: #ff7b00;
    font-size: 5px;

}

body {
  background-color: #04006c;
}
a{
   font-size: 20px;
   color: #ff8800;
   text-decoration: none;
}
.gallery-container {
  padding: 1rem;
  max-width: 95%;
  margin: 0 auto;
}
.multiple-items {
  margin: 0 auto;
}

.slide {
  flex: 0 0 100%;
  padding: 5px;
}
.slide img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}
.slick-prev:before, 
.slick-next:before {
    color: #ff8800;
    font-size: 25px;
}
@media (min-width: 720px) {
    .gallery-container {
        max-width: 80%;
    }
}
